
<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: head"></head>
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="../static/css/admin-style.css" th:href="@{/css/admin-style.css}" rel="stylesheet" />
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <link href="../static/css/success.css" th:href="@{/css/success.css}" rel="stylesheet" />
  <meta sec:authorize='isAuthenticated()' name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
  <body>
    <main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
      <header th:replace="fragments/general :: header"></header>
    </main>

    <section>
        <div class="cardsBody">
          <div class="cardContainer">
              <div class="cardBox">

                <div class="infoCard">
                  <div>
                    <div class="numbers">1942</div>
                    <div class="cardName">Novih korisnika danas</div>
                  </div>
                  <div class="iconBox">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="infoCard">
                  <div>
                    <div class="numbers">234</div>
                    <div class="cardName">Prodaja</div>
                  </div>
                  <div class="iconBox">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="infoCard">
                  <div>
                    <div class="numbers">122KM</div>
                    <div class="cardName">Zarada</div>
                  </div>
                  <div class="iconBox">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </div>
                </div>
              </div>


            <div class="main">
              <div class="admin-details">
                <div class="recentOrders">
                  <div class="cardHeader">
                    <h2>Restorani</h2>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <td>Ime restorana</td>
                        <td>Broj narudžbi danas</td>
                        <td>Status</td>
                      </tr>
                    </thead>
                    <tbody>
                      <th:block th:each="restaurant: ${restaurants}">
                        <tr>
                          <td>[[${restaurant.key.getName()}]]</td>
                          <td>[[${restaurant.value}]]</td>
                          <td><span class="status delivered">Delivered</span></td>
                        </tr>
                      </th:block>
                    </tbody>
                  </table>
                </div>

                <div class="recentCustomers">
                  <div class="cardHeader">
                    <h2>Novi komentari</h2>
                  </div>
                  <table>
                    <tbody>
                    <th:block th:each="rating: ${ratings}">
                        <tr>
                          <td>
                            <h4>
                            [[${rating.getCustomer().getName()}]]<br>
                            <span>[[${rating.getCreatedAtDMYHM()}]]</span><br>
                            <span>Za restoran: <a th:href="@{restaurant?ime=}+${rating.getRestaurant().getName()}">[[${rating.getRestaurant().getName()}]]</a>
                          </span>
                          </h4>
                            <input type="hidden" id="ratingId" name="approve" th:value="${rating.getId()}">
                            <div class="" style="margin-bottom: 10px;"> [[${rating.getContent()}]]</div>

                            <button th:data-rating-id="${rating.getId()}" class="accept-btn"
                                    onclick="acceptComment(this.getAttribute('data-rating-id'), 'accept')">Prihvati</button>

                            <button th:data-rating-id="${rating.getId()}" class="decline-btn"
                                    onclick="acceptComment(this.getAttribute('data-rating-id'), 'decline')">Izbriši</button>
                          </td>
                        </tr>
                    </th:block>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </div>
    </section>


    <br><br><br>
    <footer th:replace="fragments/general :: footer">
    </footer>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script th:inline="javascript">

      function acceptComment(ratingId, decision) {

        let csrf_header = document.querySelector('meta[name="_csrf_header"]').content;
        let csrf = document.querySelector('meta[name="_csrf"]').content;

        $(function () {
          $.ajax({
            url: `admin/approve`,
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              [csrf_header]: csrf
            },
            data: ratingId,
            data: (ratingId + "=" + decision),
            success: function (data) {
              console.log("AJAX EXERCISE: " + data.toString());
              window.location.href =  window.location.protocol + "//" + window.location.host + "/admin";
            },
            error: function (data){
              console.log("AJAX EXERCISE ERROR: " + data);
            }
          });
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
  </body>
</html>