<!DOCTYPE html>
<html lang="hr" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/general :: head"></head>
<head>
    <link href="../static/css/search-bar.css" th:href="@{/css/search-bar.css}" rel="stylesheet" />
    <link href="../static/css/city-popup.css" th:href="@{/css/city-popup.css}" rel="stylesheet" />

    <style>
        .overlay1{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            opacity: 1;
            z-index: 2;
            display: none;
        }
        .mobile {
            padding: 5rem 1rem
        }
        @media screen and (min-width: 960px) {
            .mobile {
                padding: 5rem 1rem
            }
        }
        .city-btn-section{
            margin-top: 1rem;
            margin-bottom: -1rem;
            margin-left: 1rem;
        }
        .city-button{


            border: none;
            color: white;
            font-weight: 300;
            background: darkred;
            border-radius: 10px;
            padding: 6px;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
    <header th:replace="fragments/general :: header"></header>

    <section id="page-header">
        <div class="mobile jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-width">
                        <h2 class="jumbotron-header" style="font-family: sans-serif">Zamezi na </h2>
                        <h2 class="jumbotron-header" style="font-family: auto">MEZI!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- <form th:action="@{/filter}" method="get">-->
            <div class="wrap">
                <div class="search">
                    <input type="text" id="search-term" name="kod" class="searchTerm mainLoginInput" placeholder="Tražite nešto specifično? npr. tortilja">
                    <button type="submit" onclick="showFilterPopup()" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        <!--  </form>-->
     </section>

     <section id="city" class="city-btn-section">
         <form th:action="@{/grad}" method="get">
             <select class="searchTerm mainLoginInput" style="width: 12rem;padding: 0.4rem;border: 0px solid darkred;margin-right: -6px;height: 3rem;" name="ime" id="ime">
                 <th:block th:each="city: ${cities}">
                     <option th:value="${city}">[[${city}]]</option>
                 </th:block>>
             </select>
             <button type="submit" class="searchButton" style="height: 3rem;">
                 <i class="fa fa-search"></i>
             </button>
         </form>

     </section>
     <section id="about">

         <div class="container card-container">
             <div class="row">
                 <th:block th:each="restaurant: ${restaurants}">
                     <div class="col-lg-4 col-md-12 card-main d-flex">
                         <a th:href="@{restaurant?ime=}+${restaurant.getName()}">
                             <div class="card card-about" style="border: 0;">
                                 <img th:src="${restaurant.getImage()}" src ="${restaurant.getImage()}"
                                      class="card-img-top card-image" alt="delivery-image">
                                 <div class="card-body">
                                     <h5 class="card-title">[[${restaurant.getName()}]]</h5>
                                 </div>
                             </div>
                         </a>
                     </div>
                 </th:block>
             </div>
         </div>

     </section>
 </main>

<section>
    <div id="popup1" class="overlay1 pop">
        <div class="popup" style="overflow-y: auto;">
            <h2 class="popup-header" style="border-bottom: 0px solid darkred">Izaberite grad</h2>
                <a class="close">&times;</a>
            <div class="content-wrapper">
                <select onchange="submitSearch()" class="searchTerm mainLoginInput" style="padding: 0.4rem;border: 2px solid darkred;border-top-right-radius: 4px;border-bottom-right-radius: 4px;margin-right: -6px;height: 3rem;" name="ime" id="select-city">
                    <option value="none" selected disabled hidden>gradovi</option>
                    <th:block th:each="city: ${cities}">
                        <option  th:value="${city}">[[${city}]]</option>
                    </th:block>>
                </select>
            </div>
        </div>
    </div>
</section>

 <footer th:replace="fragments/general :: footer">

 </footer>

 <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<script th:inline="javascript">
    $(".close").on("click",function (e){
        $(".pop").css("display","none");
        $('.uredi').html("Uredi");
        $('.uredi').css("background", "#D9391C");
        $('.uredi').css("color", "white");
    })
    function showFilterPopup(){
        console.log("CLICKED FILTER");
        $("#popup1").css("display","block");
    }

    function submitSearch(){
        let keySearch = document.getElementById("search-term").value;
        let citySearch = document.getElementById("select-city").value;

        console.log("CLICKED city:", citySearch);
        console.log("CLICKED text:", keySearch);
        window.location.href = window.location.protocol + "//" + window.location.host + "/"
            + "filter/"+ keySearch.trim() + "/" + citySearch.trim() ;

    }

</script>

</body>

</html>