
<!DOCTYPE html>
<html lang="hr" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: head"></head>
<head>
  <meta charset="UTF-8">
  <title>Restoran</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <link href="../static/css/experiment.css" th:href="@{/css/experiment.css}" rel="stylesheet" />
  <link href="../static/css/test.css" th:href="@{/css/test.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/fixedheader/3.2.4/css/fixedHeader.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" rel="stylesheet">


</head>
<body>
<main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
  <header th:replace="fragments/general :: header"></header>
</main>

<h2 style="padding: 1rem;margin-top: -2rem;margin-bottom: -3rem;margin-left: 2rem;font-weight: 600;font-size: x-large;">
  JELOVNIK
</h2>

<section id="about">
  <div class="container card-container">
    <div class="">
      <table id="example" class="display nowrap" style="width:100%">
        <thead>
        <tr>
          <th>Slika</th>
          <th>Naziv jela</th>
          <th>Broj narudžbi</th>
          <th>Kategorija</th>
          <th>Uredi</th>
          <th>Sakrij</th>
          <th>Dodatci</th>
          <th>Porcije</th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="item: ${menu}">
          <tr>
            <td>
              <img th:src="${item.getImage()}" src ="${item.getImage()}">
            </td>
            <td>[[${item.getName()}]]</td>
            <td>8KM</td>
            <td>[[${item.getCategory().getName()}]]</td>
            <td>
              <form th:action="@{/edit}" method="get">
                <button type="submit" style="border: none" name="itemId" th:value="${item.getId()}">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </form>
            </td>
            <td>

              <div th:if="${item.getIsHidden == false}">
                <button style="border: none" name="hide" th:item-id="${item.getId()}" class="accept-btn" onclick="hideItem(this.getAttribute('item-id'), 'hide')">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </div>

              <div th:if="${item.getIsHidden == true}">
                <button style="border: none" name="show" th:item-id="${item.getId()}" class="accept-btn" onclick="hideItem(this.getAttribute('item-id'), 'show')">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </div>
            </td>
            <td>
              <th:block th:each="condiment: ${item.getCondiments()}">
                [[${condiment.getName().getName()}]],
              </th:block>
            </td>
            <td><br>
              <th:block th:each="portion: ${item.getPortions()}">
                [[${portion.getName().getName()}]] : [[${portion.getPrice()}]]KM<br>
              </th:block>
            </td>

          </tr>
        </th:block>

        </tbody>
      </table>
    </div>
  </div>
</section>

<section style="display: flex">
  <form th:action="@{/dodaj-jelo}" method="GET" style="padding-left: 4rem;padding-bottom: 4rem;">
    <button type="submit" style="    background: forestgreen;border-radius: 12px;color: white;font-weight: 400;padding: 0.5rem;font-size: 18px;">
      Dodaj novo jelo  +
    </button>
  </form>
  <form th:action="@{/dodaj-dodatak}" method="GET" style="padding-left: 4rem;padding-bottom: 4rem;">
    <button type="submit" style="    background: forestgreen;border-radius: 12px;color: white;font-weight: 400;padding: 0.5rem;font-size: 18px;">
      Dodaj novi dodatak  +
    </button>
  </form>
</section>
<footer th:replace="fragments/general :: footer">
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

<script th:inline="javascript">
  $(document).ready(function() {
    var table = $('#example').DataTable( {
      responsive: true
    } );

    new $.fn.dataTable.FixedHeader( table );
  } );
</script>
<script th:inline="javascript">

  function edit(itemId) {
    console.log("PRITISNUTO:" + itemId)


  }
  function hideItem(itemId, action) {
    console.log("ITEM_ID: " + itemId);

    let csrf_header = document.querySelector('meta[name="_csrf_header"]').content;
    let csrf = document.querySelector('meta[name="_csrf"]').content;

    $.ajax({
      url:`/sakrij-jelo`,
      method:'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        [csrf_header] : csrf
      },
      data: itemId + "action=" + action,
      success: function(data) {
          window.location.href =  window.location.protocol + "//" + window.location.host + "/menu";// redirects user to the progress page tied to his order
      },
      error: function() {
        alert("The request failed");
      }
    });

  }

  function changeHideBtnColor() {

    /*let element = document.getElementsByName("hide");
    for(let i = 0; i<element.length; i++){
      if(element[i].isHidden === 'false'){
        element[i].style.backgroundColor = '#27ae60';
      }
      if(element[i].isHidden === 'true'){
        element[i].style.backgroundColor = '#fd094e';
        element[i].getElementsByTagName()
      }
    }*/

  }
  window.onload=changeHideBtnColor;
</script>
</body>
</html>