<!DOCTYPE html>
<html lang="hr" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:replace="fragments/general :: head"></head>
<head>
  <meta charset="UTF-8">
  <title>Moj Profil</title>my-profile-details-button.css
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" type="text/css" href="css/profile.css">
  <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet" />
  <link href="../static/css/orders_profile.css" th:href="@{/css/orders_profile.css}" rel="stylesheet" />
  <link href="../static/css/popup.css" th:href="@{/css/popup.css}" rel="stylesheet" />
  <link href="../static/css/restaurant_orders.css" th:href="@{/css/restaurant_orders.css}" rel="stylesheet" />
  <link href="../static/css/my-profile-details-button.css" th:href="@{/css/my-profile-details-button.css}" rel="stylesheet" />
  <link href="../static/css/all-users-table.css" th:href="@{/css/all-users-table.css}" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cf8fd9063c.js" crossorigin="anonymous"></script>


  <script>
      function changeOrderColor() {

      let element = document.getElementsByName("DELIVERED");
      for(let i = 0; i<element.length; i++){
          element[i].style.backgroundColor = '#27ae60';
        }

        let element1 = document.getElementsByName("DECLINED");
        for(let i = 0; i<element1.length; i++){
          element1[i].style.backgroundColor = '#f80505';
        }
    }
    window.onload=changeOrderColor;
  </script>
</head>

<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
  <header th:replace="fragments/general :: header"></header>
</main>

<section class="py-5 my-5">
  <div class="container">
    <h1 class="mb-5">Moj profil</h1>
    <div class="bg-white shadow rounded-lg d-block d-sm-flex">
      <div class="profile-tab-nav border-right">
        <div class="p-4">
          <h4 class="text-center">[[${user.getName()}]]</h4>
          <h4 class="text-center" style="font: inherit">[[${user.getPhone()}]]</h4>
          <h4 class="text-center" style="font: inherit">[[${user.getEmail()}]]</h4>
        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link1 active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
            <i class="fa fa-home text-center mr-1"></i>
            Račun
          </a>
          <a class="nav-link1" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
            <i class="fa fa-key text-center mr-1"></i>
            Promijeni lozinku
          </a>
          <a class="nav-link1" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
            <i class="fa fa-user text-center mr-1"></i>
            Moje narudžbe
          </a>
          <a class="nav-link1" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
            <i class="fa fa-tv text-center mr-1"></i>
            Moje adrese
          </a>
        </div>
      </div>
      <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
          <h3 class="mb-4">Postavke Računa</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>IME</label>
                <input type="text" class="form-control" th:value="${user.getName()}" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>EMAIL</label>
                <input type="text" class="form-control" th:value="${user.getEmail()}" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>BROJ MOBITELA</label>
                <input type="text" class="form-control" th:value="${user.getPhone()}" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
          <h3 class="mb-4">Password Settings</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Trenutna lozinka</label>
                <input type="password" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nova lozinka</label>
                <input type="password" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Potvrdi novu lozinku</label>
                <input type="password" class="form-control">
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
          <h3 class="mb-4">Narudžbe</h3>
          <div class="row-order">
            <div class="col-md-6"  style="max-width: none;">
              <div class="form-group">
                <div class="table">
                  <th:block th:each="order: ${orders}">

                    <div class="row-order header" th:name="${order.getStatus()}">
                      <div class="cell">
                        Restoran
                      </div>
                      <div class="cell">
                        Cijena
                      </div>
                      <div class="cell">
                        Datum
                      </div>
                      <div class="cell">
                        Status
                      </div>
                      <div class="cell">
                        Detalji
                      </div>
                    </div>

                    <div class="row-order">
                      <div class="cell" data-title="Restoran">
                        [[${order.getRestaurant().getName()}]]
                      </div>
                      <div class="cell" data-title="Cijena">
                        [[${order.getPrice()}]]KM
                      </div>
                      <div class="cell" data-title="Datum">
                        [[${order.getCreatedAtDMYHM()}]]
                      </div>
                      <div class="cell" data-title="Status">
                        [[${order.getStatus()}]]
                      </div>
                      <div class="cell" data-title="Detalji">
                        <form action="#popup1">
                          <input th:data-order-id="${order.getId()}" onclick="showDetails(this.getAttribute('data-order-id'),2)"
                                  class="button-3" type="submit" value="Detalji" />
                        </form>
                      </div>
                    </div>
                  </th:block>
                </div>

                <nav aria-label="Page navigation example">
                    Ukupno narudžbi [[${totalItems}]] : Stranica [[${currentPage}]] od [[${totalPages}]]
                    <ul class="pagination-list" style="margin: 0rem;margin-top: 1rem;gap: 0.5rem;">
                        <li class="page-item">
                            <a  class="page-link" th:if="${currentPage > 1}" th:href="@{/my-profile/1}"><i class="fa-solid fa-angles-left"></i></a>
                            <span class="page-link" style="color: black;" th:unless="${currentPage > 1}"><i class="fa-solid fa-angles-left"></i></span>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/my-profile/' + ${currentPage - 1}}"><i class="fa-solid fa-chevron-left"></i></a>
                            <span class="page-link" style="color: black" th:unless="${currentPage > 1}"><i class="fa-solid fa-chevron-left"></i></span>
                        </li>


                        <li class="page-item">
                            <a onclick="focusOnOrders()" class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/my-profile/' + ${currentPage + 1}} + '#security'"><i class="fa-solid fa-chevron-right"></i></a>
                            <span class="page-link" style="color: black" th:unless="${currentPage < totalPages}"><i class="fa-solid fa-chevron-right"></i></span>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/my-profile/' + ${totalPages}}"><i class="fa-solid fa-angles-right"></i></a>
                            <span class="page-link" style="color: black" th:unless="${currentPage < totalPages}"><i class="fa-solid fa-angles-right"></i></span>
                        </li>
                    </ul>
                  </nav>
                <div id="popup1" class="overlay1 pop">
                  <div class="popup" style="height: 85%; overflow-y: auto;">
                    <h2 class="popup-header">Detalji narudžbe</h2>
                    <a class="close">&times;</a>
                    <h3 class="content-header">Narudžba</h3>
                    <div class="content-wrapper">
                    </div>
                    <div class="Ukupno">
                      UKUPNO
                    </div>
                    <div class="ukupno-price" id="ukupno-price">
                      <b> </b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">

                </div>
              </div>
            </div>
          </div>
          <div>

          </div>
        </div>
        <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
          <h3 class="mb-4">Adrese</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">

                </div>
                <div class="form-check">

                </div>
              </div>
            </div>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<footer th:replace="fragments/general :: footer">
</footer>
<script src="/webjars/jquery/jquery.min.js"></script>
<script th:inline="javascript">
  $(".close").on("click",function (e){
    $(".pop").css("display","none");
  })
  function showDetails(orderId, popup){
    let currentOrder = [[${orders}]].filter(o=>  o.id == orderId);
    currentRefId = currentOrder[0].orderReference + currentOrder[0].id;
    let contents = currentOrder[0].contents;
    console.log(contents);
    let contentHtml = ``;
    let totalPrice = 0.00;


    contents.forEach((c,i)=>{

      contentHtml += `

                                <div class="content" style="overflow: unset;margin-bottom: 4rem;">
                                    <div class="item-name"><b>${c.quantity} X  ${c.name} </b> (${c.portion.name.name})</div>
                                    <div class="item-price">${c.portion.price}KM</div>
                                    <div class="condiments">
                            `;

      c.condiments.forEach(cond=>{

        contentHtml += `
                                        <div class="condiment">+${cond.name.name}</div>
                                        <div class="condiment-price">${cond.price}KM</div>

                                   `;

      });

      contentHtml += `

                                   </div>
                                   <div class="item-total">
                                        ${c.price}
                                    </div>
                                </div>

                        `;
      totalPrice += parseFloat(c.price);

    });

    console.log(currentOrder[0]);
    if(!$(".bill-table .order-"+currentOrder[0].id).hasClass("NotAcceptedOrder")){
      $(".accept").css("display","none");
      $(".deliver").css("display","block");
    }else{
      $(".deliver").css("display","none");
      $(".accept").css("display","block");
    }
    $("#popup1 "+ ".content-wrapper").html(contentHtml);
    $("#popup1").css("display","block");
    $("#ukupno-price").html(totalPrice.toFixed(2)+"KM");

  }
</script>
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

<script th:inline="javascript">
  function focusOnOrders() {
    console.log("[[${ordersActive}]]: " + [[${ordersActive}]]);
    if([[${ordersActive}]] === 1){
      console.log("USAO: " + [[${ordersActive}]]);
      document.getElementById("security").focus();
      document.getElementById("account").classList.remove("show")
      document.getElementById("account").classList.remove("active");

      document.getElementById("security").classList.add("show");
      document.getElementById("security").classList.add("active");

    }
  }
  window.onload=focusOnOrders;

</script>


</body>

</html>